#contact-section {
    background-color: rgba(20, 20, 20, 0.9);

    button {
        background-color: transparent;
        border: none;
    }
}

#contact-input,
#contact-textarea {
    width: 100%;
    max-width: 50rem;
}

#contact-input:focus,
#contact-textarea:focus {
    outline: 0.125rem solid #07bb24;
}

#contact-textarea {
    height: 10rem;
}