#hero-8-bit-image {
    width: 50%;
        @media (min-width: 768px) {
            width: 30%;
        }
}

h1 {
    font-size: 1rem;
        @media (min-width: 992px) {
            font-size: 1.5rem;
        }

    #pat-kelly-h1-text {
        font-size: 1.5rem;
            @media (min-width: 992px) {
                font-size: 2rem;
            }
    }

}