.hero-left-image {
    max-width: 50%;
        @media (min-width: 768px) {
            max-width: 30%;
        }
}

.hero-h1 {
    font-size: 1rem;
        @media (min-width: 992px) {
            font-size: 1.5rem;
        }
        
    #pat-kelly-h1-text {
        font-size: 1.5rem;
            @media (min-width: 992px) {
                font-size: 2rem;
            }
    }
}