#hero-section {
    height: 100vh;
}

#hero-8-bit-image {
    width: 50%;
        @media (min-width: 768px) {
            width: 30%;
        }
}

h1 {
    font-size: 1rem;
        @media (min-width: 992px) {
            font-size: 1.5rem;
        }

    #pat-kelly-h1-text {
        font-size: 1.5rem;
            @media (min-width: 992px) {
                font-size: 2rem;
            }
    }

}

#hero-section-buttons-container {
    display: flex;
    flex-direction: column;
        @media (min-width: 992px) {
            flex-direction: row;
            justify-content: center;
        }

    a {
    margin: 0.75rem 0;
        @media (min-width: 992px) {
            margin: 0.75rem 3rem;
        }
    }
}

@keyframes hero-letter-animation {
    0% { opacity:0; }
   99% { opacity:0; }
  100% { opacity:1; }
}

.p-1 {
    animation: hero-letter-animation linear 0.5s;
}

.a-2 {
    animation: hero-letter-animation linear 1s;
}

.t-3 {
    animation: hero-letter-animation linear 1.5s;
}

.k-4 {
    animation: hero-letter-animation linear 2s;
}

.e-5 {
    animation: hero-letter-animation linear 2.5s;
}

.l-6 {
    animation: hero-letter-animation linear 3s;
}

.l-7 {
    animation: hero-letter-animation linear 3.5s;
}

.y-8 {
    animation: hero-letter-animation linear 4s;
}