/* Navbar Styles Start */
.navbar {
    background-color: $dark-green-transparent;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-dark .navbar-toggler {
    color: transparent;
    border-color: transparent;
    padding: 0;
    margin-right: 1.25rem;
}

#navbar-img {
    height: 2.5rem;
}

.navbar-name:hover {
    color: #ffffff;
    transition: color 0.5s;
}

.navbar-dark .navbar-toggler-icon {
    background-image: none;
}

    /* Hamburger Icon Start */
    .hamburger-icon {
        width: 2.188rem;
        height: 1.875rem;
        position: relative;
        cursor: pointer;
        display: inline-block;
    }

    .hamburger-icon:hover {
        cursor: pointer;
    }

    .hamburger-icon span {
        background-color: $primary-green;
        position: absolute;
        border-radius: 0.125rem;
        transition: 0.3s cubic-bezier(.8, .5, .2, 1.4);
        width: 100%;
        height: 0.25rem;
    }

    .hamburger-icon span:nth-child(1) {
        top: 0;
        left: 0;
    }

    .hamburger-icon span:nth-child(2) {
        top: 0.813rem;
        left: 0;
    }

    .hamburger-icon span:nth-child(3) {
        bottom: 0;
        left: 0;
    }

    .hamburger-icon:not(.open):hover span:nth-child(1) {
        transform: scaleY(1.2);
        left: -0.1rem;
    }

    .hamburger-icon:not(.open):hover span:nth-child(2) {
        transform: rotate(2deg) scaleY(1.1);
    }

    .hamburger-icon:not(.open):hover span:nth-child(3) {
        transform: scaleY(1.2);
        left: 0.1rem;
    }

    .hamburger-icon.open span:nth-child(1) {
        transform: rotate(45deg) scaleX(0.7);
        top: 0.813rem;
        left: -0.5rem;
    }

    .hamburger-icon.open span:nth-child(2) {
        transform: scale(0);
        transition-duration: 50ms;
    }

    .hamburger-icon.open span:nth-child(3) {
        transform: rotate(-45deg) scaleX(0.7);
        top: 0.813rem;
        left: 0.438rem;
    }
    /* Hamburger Icon Start */

/* Navbar Styles End */

// #navbar-ul {

//     li {
//         position: relative;
//     }

//     .active::before {
//         position: absolute;
//         top: 12px;
//         left: -10px;
//         content: "";
//         width: 2px;
//         height: 2px;
//         color: green;
//         box-shadow: 2px 2px, 4px 2px, 2px 4px, 4px 4px, 6px 4px, 8px 4px, 2px 6px, 4px 6px, 6px 6px, 8px 6px, 10px 6px, 2px 8px, 4px 8px, 6px 8px, 8px 8px, 10px 8px, 12px 8px, 2px 10px, 4px 10px, 6px 10px, 8px 10px, 10px 10px, 2px 12px, 4px 12px, 6px 12px, 8px 12px, 2px 14px, 4px 14px;
//     }
// }