.project-card {
    display: flex;
    flex-direction: column;
    height: 100%;
        @media (min-width: 992px) {
            padding: 0.5rem;
        }

    img {
        box-shadow: 0.15rem 0.15rem 1rem $primary-green;
    }
}