/* SCSS Imports Start */
#hero-section {
  height: 100vh;
}

#hero-8-bit-image {
  width: 50%;
}

@media (min-width: 768px) {
  #hero-8-bit-image {
    width: 30%;
  }
}

h1 {
  font-size: 1rem;
}

#hero-section-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  #hero-section-buttons-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#hero-section-buttons-container a {
  margin: 0.75rem 0;
}

@media (min-width: 992px) {
  #hero-section-buttons-container a {
    margin: 0.75rem 3rem;
  }
}

.about-highlight-text {
  color: #07bb24;
  font-weight: bold;
  font-style: italic;
}

#about-section {
  background-color: rgba(20, 20, 20, 0.9);
}

.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

@media (min-width: 992px) {
  .project-card {
    padding: 1rem;
  }
}

#contact-section {
  background-color: rgba(20, 20, 20, 0.9);
}

#contact-section button {
  background-color: transparent;
  border: none;
}

#contact-input,
#contact-textarea {
  width: 100%;
  max-width: 50rem;
}

#contact-input:focus,
#contact-textarea:focus {
  outline: 0.125rem solid #07bb24;
}

#contact-textarea {
  height: 10rem;
}

/* SCSS Imports End */
/* Global Styles Start */
body {
  background-color: #000000;
  font-family: 'Encode Sans', sans-serif;
}

#hero-section,
#about-section,
#projects-section,
#contact-section {
  padding: 4.125rem 0;
}

.press-start-2p-font {
  font-family: 'Press Start 2P', cursive;
  color: #07bb24;
}

.blinking-animation {
  -webkit-animation: blink ease 3s infinite;
          animation: blink ease 3s infinite;
  height: 0.35rem;
  width: 2rem;
  background-color: #ffffff;
  display: inline-block;
  margin-left: 0.35rem;
  opacity: 0;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.btn {
  padding: 0.938rem 1.563rem;
  background-color: #000000;
  border: 0.15rem solid #07bb24;
  border-radius: 0.313rem;
  color: #07bb24;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0 0 0.125rem 0.125rem #808080;
          box-shadow: 0 0 0.125rem 0.125rem #808080;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.75rem;
}

.btn:hover {
  background-color: #07bb24;
  border: 0.15rem solid #000000;
  color: #000000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0 0 0.188rem 0.188rem #333333;
          box-shadow: 0 0 0.188rem 0.188rem #333333;
  cursor: pointer;
}

/* Global Styles End */
/*# sourceMappingURL=main.css.map */