/* Global Styles Start */
body {
    background-color: #000000;
}

$theme-colors: (
  "success": #ffffff,
);

.press-start-2p-font {
    font-family: 'Press Start 2P', cursive;
    color: #07bb24;
}
/* Global Styles End */



/* Hero Start */
#hero-8-bit-image {
    width: 100%;
    @media (min-width: 768px) {
        width: 25%;
    }
}
/* Hero End */



/* Projects Start */
.project-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/* Projects End */