/* SCSS Imports Start */
@import "navbar";
@import "buttons";
@import "hero";
@import "project-card";
@import "contact";
/* SCSS Imports End */



/* Global Styles Start */
body {
    background-color: #000000;
    font-family: 'Encode Sans', sans-serif;
}

.section {
    padding: 5rem 0;

    &.section-lighter {
        background-color: rgba(20, 20, 20, 0.9);
    }
}

.press-start-2p-font {
    font-family: 'Press Start 2P', cursive;
    color: #07bb24;
}

.callout-text {
    color: #07bb24;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2rem;
}

p {
    font-size: 1.1rem;
}

i {
    color: #07bb24;
    font-size: 1.5rem;
}

.blinking-animation {
    animation: blink ease 3s infinite;
    height: 0.35rem;
    width: 2rem;
    background-color: #ffffff;
    display: inline-block;
    margin-left: 0.35rem;
    opacity: 0;
}

@keyframes blink {
    0% { opacity:0; }
   50% { opacity:1; }
  100% { opacity:0; }
}
/* Global Styles End */