/* SCSS Imports Start */
@import "hero";
@import "about";
@import "projects";
@import "contact";
/* SCSS Imports End */

/* Global Styles Start */
body {
    background-color: #000000;
    font-family: 'Encode Sans', sans-serif;
}

#hero-section,
#about-section,
#projects-section,
#contact-section {
    padding: 5rem 0;
}

.press-start-2p-font {
    font-family: 'Press Start 2P', cursive;
    color: #07bb24;
}

.blinking-animation {
    animation: blink ease 3s infinite;
    height: 0.35rem;
    width: 2rem;
    background-color: #ffffff;
    display: inline-block;
    margin-left: 0.35rem;
    opacity: 0;
}

@keyframes blink {
    0% { opacity:0; }
   50% { opacity:1; }
  100% { opacity:0; }
}

.btn {
    background-color: #919191;
    color: #000000;
    border-radius: 0;
    padding: 6px 8px;
    font-family: 'Press Start 2P', cursive;
    border-top: 4px solid #444444;
    border-right: 4px solid lightgray;
    border-bottom: 4px solid lightgray;
    border-left: 4px solid #444444;
    box-shadow: inset -4px -4px #adafbc;
}

.btn:hover {
    background-color: #dfdfdf;
    box-shadow: inset -6px -6px #e9e9ec;
    transition: all 0.2s;
    cursor: pointer;
}
/* Global Styles End */